
ion-title
{
    text-align:center;
   
}
.toolbar-title
{
    color:white;
  
}
.toolbar-background {
    border-color: orange;
    background: greenyellow;
}
.primeBtn {
    height: 2.2em;
    background-color: greenyellow;
}
.signupBtn
{
    background-color: greenyellow;

}
.primeBtn:hover{
    background-color: greenyellow;

}
.input-cover{
   color:greenyellow;
}