page-landpage {
    .iconDash {
        border: 1px solid greenyellow;
        padding:40px;
        font-size: 5rem;
        color:white;
        background: greenyellow;
        border-radius:30px;
    }
    h6{
        color:rgb(153, 243, 18);
    }
}
