page-home{
    .menudivider {
        border-bottom: 1px solid #eee;
        height: 1px;
        margin: 15px;
        width: 90%;
        background:red;
    }
    .userdetails
    {
        background:greenyellow;
     
    }
}
.Details
{
    background:greenyellow;
}
